# Node.js
node_modules/

# Arquivos temporários
*.log
*.swp
*.swo
*.tmp

# Arquivos de compilação TypeScript
dist/

# Arquivos de ambiente
.env
.env.local
.env.development
.env.test
.env.production

.vscode/

#yarn
yarn-error.log
yarn.lock

#npm
package-lock.json